extends layout
block content
	div
		<h2>Make Order</h2>
		
			select#restaurant-select
		
			div#info
			div#main
				div#left(class="column left")
				div(class="column middle" id="middle")
				div(class="column right" id="right")
			script(src="/js/orderform.js")